<div class="container">
  <div class="row" id="header">
    <div class="large-9 columns centered">
      <h2>How many times did Mason use <code>potato</code> this cohort?</h2>
    </div>
  </div>
  <div class="row" id="potato-count">
    <div class="large-9 columns centered">
      <div><%= @potato.count %></div>
    </div>
  </div>
  <div class="row" id="potato-image-row">
    <div class="large-12 columns centered">
      <%@potato.count.times do %>
        <span><%= image_tag "potato.png", class: "potato-image" %></span>
      <% end %>
    </div>
  </div>
</div>
